@model RClone.Models.Comment
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
	ViewData["Title"] = "DisplayPost";
	var returnUrl = @Context.Request.Query["returnurl"];
}

	<head>
		<meta name="viewport" content="width=device-width" />
		<title>RClone - Display Post</title>

	</head>
<body>
	<div class="container" style="background-color:aliceblue; margin-top: 10px;
            border:1px; border-color:gray; border-style:solid">

		<div class="row">
			<div class="col-md-auto" style="text-align:center">
				<div class="col">
					<a asp-action="UpvotePost" asp-controller="Post" asp-route-communityName="@ViewBag.Post.Community.Name" 
						asp-route-postId="@ViewBag.Post.PostId" asp-route-returnUrl="@returnUrl">+</a>
				</div>

				<div class="w-100"></div>

				<div class="col">
					@(ViewBag.Post.UpvotedPosts.Count - ViewBag.Post.DownvotedPosts.Count)
				</div>

				<div class="w-100"></div>

				<div class="col">
					<a asp-action="DownvotePost" asp-controller="Post" asp-route-communityName="@ViewBag.Post.Community.Name" 
						asp-route-postId="@ViewBag.Post.PostId" asp-route-returnUrl="@returnUrl">-</a>
				</div>
			</div>

			<div class="col-10">
				<div class="col" style="font-size:20px">
					@ViewBag.Post.Title
				</div>

				<div class="w-100"></div>

				<div class="col" style="font-size:12px">
					submitted at @ViewBag.Post.Time by @ViewBag.Post.UserInfo.Username to&nbsp;
					<a asp-action="DisplayCommunity" asp-controller="Community" asp-route-communityName="@ViewBag.Post.Community.Name">
						@ViewBag.Post.Community.Name
					</a>
				</div>

				<div class="w-100"></div>

				<div class="col" style="font-size:15px">
					<div class="container" style="background-color:aliceblue; border:1px;
						border-color:gray; border-style:solid">
						@ViewBag.Post.Text
					</div>
				</div>

				<div class="w-100"></div>

				<div class="col" style="font-size:12px">
					@(ViewBag.Post.Comments == null ? 0 : ViewBag.Post.Comments.Count) comments
				</div>
			</div>
		</div>
	</div>

	@if (SignInManager.IsSignedIn(User))
	{
		<div class="container" style="background-color:aliceblue; margin-top: 10px;
            border:1px; border-color:gray; border-style:solid">

			@using (Html.BeginForm("Comment", "Post", FormMethod.Post))
			{
				<div class="form-group" style="margin: 10px">
					<textarea asp-for="Text" class="form-control"></textarea>
					<input name="PostId" type="hidden" value="@ViewBag.Post.PostId" />
					<input name="CommunityId" type="hidden" value="@ViewBag.Post.CommunityId" />
				</div>

				<div style="margin:10px">
					<button type="submit">Submit</button>
				</div>
			}
		</div>
	}

	@foreach (Comment c in ViewBag.Post.Comments)
	{
		<div class="container" style="background-color:aliceblue; margin-top: 10px;
            border:1px; border-color:gray; border-style:solid">

			<div class="row">
				<div class="col-md-auto" style="text-align:center">
					<div class="col">
						<a asp-action="UpvoteComment" asp-controller="Post" asp-route-communityName="@c.Post.Community.Name"
							asp-route-postId="@c.PostId" asp-route-commentId="@c.CommentId" asp-route-returnUrl="@returnUrl">+</a>
					</div>

					<div class="w-100"></div>

					<div class="col">
						<a asp-action="DownvoteComment" asp-controller="Post" asp-route-communityName="@c.Post.Community.Name" 
							asp-route-postId="@c.PostId" asp-route-commentId="@c.CommentId" asp-route-returnUrl="@returnUrl">-</a>
					</div>
				</div>

				<div class="col-10">
					<div class="col" style="font-size:12px">
						@c.UserInfo.Username @(c.UpvotedComments.Count - c.DownvotedComments.Count) @c.Time
					</div>

					<div class="col" style="font-size:15px">
						@c.Text
					</div>
				</div>
			</div>
		</div>
	}
</body>