@model RClone.Models.Comment
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
	ViewData["Title"] = "DisplayPost";
}

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>RClone - Display Post</title>
	<link rel="stylesheet" href="~/css/site.css" type="text/css" runat="server" />
</head>
<body>
	<div class="container" id="container-theme1">

		<div class="row">
			<div class="col-md-auto" style="text-align:center">
				<div class="col">
					<a onclick="UpvotePost(@ViewBag.Post.PostId)" href="javascript:void(0)">+</a>
				</div>

				<div class="w-100"></div>

				<div class="col">
					@(ViewBag.Post.UpvotedPosts.Count - ViewBag.Post.DownvotedPosts.Count)
				</div>

				<div class="w-100"></div>

				<div class="col">
					<a onclick="DownvotePost(@ViewBag.Post.PostId)" href="javascript:void(0)">-</a>
				</div>
			</div>

			<div class="col-10">
				<div class="col" style="font-size:20px">
					@ViewBag.Post.Title
				</div>

				<div class="w-100"></div>

				<div class="col" style="font-size:12px">
					submitted at @ViewBag.Post.Time by @ViewBag.Post.UserInfo.Username to&nbsp;
					<a asp-action="DisplayCommunity" asp-controller="Community" asp-route-communityName="@ViewBag.Post.Community.Name">
						@ViewBag.Post.Community.Name
					</a>
				</div>

				<div class="w-100"></div>

				<div class="col" style="font-size:15px">
					<div class="container" style="background-color:aliceblue; border:1px;
						border-color:gray; border-style:solid">
						@ViewBag.Post.Text
					</div>
				</div>

				<div class="w-100"></div>

				<div class="col" style="font-size:12px">
					@(ViewBag.Post.Comments == null ? 0 : ViewBag.Post.Comments.Count) comments
				</div>
			</div>
		</div>
	</div>

	<div class="container" id="container-comment-theme-1">
		@if (SignInManager.IsSignedIn(User))
		{

			@using (Html.BeginForm("Comment", "Post", FormMethod.Post))
			{
				<div class="form-group" style="margin: 10px">
					<textarea placeholder="Enter a comment" asp-for="Text" class="form-control"></textarea>
					<input name="PostId" type="hidden" value="@ViewBag.Post.PostId" />
					<input name="CommunityId" type="hidden" value="@ViewBag.Post.CommunityId" />
				</div>

				<div style="margin:10px">
					<button type="submit">Submit</button>
				</div>
			}
		}
	</div>

	@foreach (Comment c in ViewBag.Post.Comments)
	{
		<div class="container" id="container-comment-theme-1">

			<div class="row">
				<div class="col-md-auto" style="text-align:center">
					<div class="col">
						<a onclick="UpvoteComment(@ViewBag.Post.PostId, @c.CommentId)" href="javascript:void(0)">+</a>
					</div>

					<div class="w-100"></div>

					<div class="col">
						<a onclick="DownvoteComment(@ViewBag.Post.PostId, @c.CommentId)" href="javascript:void(0)">-</a>
					</div>
				</div>

				<div class="col-10">
					<div class="col" style="font-size:12px">
						@c.UserInfo.Username @(c.UpvotedComments.Count - c.DownvotedComments.Count) @c.Time
					</div>

					<div class="col" style="font-size:15px">
						@c.Text
					</div>
				</div>
			</div>
		</div>
	}
</body>
</html>

@section scripts {
	<script type="text/javascript">
		function UpvotePost(postId) {
			$.post('@Url.Action("UpvotePost", "Post")',
				{
						postId: postId
				});
		}

		function DownvotePost(postId) {
			$.post('@Url.Action("DownvotePost", "Post")',
				{
					postId: postId
				});
		}

		function UpvoteComment(postId, commentId) {
			$.post('@Url.Action("UpvoteComment", "Post")',
				{
					postId: postId,
					commentId: commentId
				});
		}

		function DownvoteComment(postId, commentId) {
			$.post('@Url.Action("DownvoteComment", "Post")',
				{
					postId: postId,
					commentId: commentId
				});
		}
	</script>
}